extends layout

block content
  .top-page
    .graph-container
      span This is where the graphs will go! Indubitably!
    #info-panels
      #candidates.graph-info
        span This is where the candidate info will go! Marvelous!
      #keywords.graph-info
        span This is where the word cloud goes! Spiffy!
block scripts
  script(src='js/graph.js')