extends layout

block content
.top-page
  .graph-container
    h1 This is where the graphs will go! Indubitably!
  #info-panels
    #candidates.graph-info
      h1 This is where the candidate info will go! Marvelous!
    #keywords.graph-info
      h1 This is where the word cloud goes! Spiffy!