extends layout

block content
  .top-page
    .graph-container
    #top-page-divider
    #info-panels
      #graph-info-space
      #keywords.graph-info
        #graph-word-cloud
          span This is where the word cloud goes! Spiffy!
          

  #score-description
    span.scoredesc <i /><br /><b>2 is Good :) 1 is neutral :| and 0 bad :(</i></b>
  
  
  #candidate-list-container
    #sanders.democratic.candidate
      <img class="candidate-pic" src="/res/sanders.png">
      span.candname <br /><b>Bernie Sanders</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c1
      
    #clinton.democratic.candidate
      <img class="candidate-pic" src="/res/clinton.png">
      span.candname <br /><b>Hillary Clinton</b>
      
      span.candscoredesc <br /><br /><b>Score</b><br/>
      span.candscore.c2
      
    #trump.republican.candidate
      <img class="candidate-pic" src="/res/trump.png">
      span.candname <br /><b>Donald Trump</b>
      
      span.candscoredesc <br /><br /><b>Score</b><br/>
      span.candscore.c3
      
    #rubio.republican.candidate
      <img class="candidate-pic" src="/res/rubio.png">
      span.candname <br /><b>Mark Rubio</b>
      
      span.candscoredesc <br /><br /><b>Score</b><br/>
      span.candscore.c4
      
    #cruz.republican.candidate
      <img class="candidate-pic" src="/res/cruz.png">
      span.candname <br /><b>Ted Cruz</b>
      
      span.candscoredesc <br /><br /><b>Score</b><br/>
      span.candscore.c5
      
    #kasich.republican.candidate
      <img class="candidate-pic" src="/res/kasich.png">
      span.candname <br /><b>John Kasich</b>
      
      span.candscoredesc <br /><br /><b>Score</b><br/>
      span.candscore.c6
      
    #carson.republican.candidate
      <img class="candidate-pic" src="/res/carson.png">
      span.candname <br /><b>Ben Carson</b>
      
      span.candscoredesc <br /><br /><b>Score</b><br/>
      span.candscore.c7
      
    

block scripts
  script(src='/js/graph.js')