extends layout

block content
  .top-page
    .graph-container
    #top-page-divider
    #info-panels
      #graph-info-space
      #keywords.graph-info
        #graph-word-cloud
          span This is where the word cloud goes! Spiffy!
          
          
  #candidate-list-container
    #sanders.democratic.candidate
      <img class="candidate-pic" src="/res/sanders.png">
      span.candname <br />Bernie Sanders
    #clinton.democratic.candidate
      <img class="candidate-pic" src="/res/clinton.png">
      span.candname <br />Hillary Clinton
    #trump.republican.candidate
      <img class="candidate-pic" src="/res/trump.png">
      span.candname <br />Donald Trump
    #rubio.republican.candidate
      <img class="candidate-pic" src="/res/rubio.png">
      span.candname <br />Marco Rubio
    #cruz.republican.candidate
      <img class="candidate-pic" src="/res/cruz.png">
      span.candname <br />Ted Cruz
    #kasich.republican.candidate
      <img class="candidate-pic" src="/res/kasich.png">
      span.candname <br />John Kasich
    #carson.republican.candidate
      <img class="candidate-pic" src="/res/carson.png">
      span.candname <br />Ben Carson
    

block scripts
  script(src='/js/graph.js')