extends layout

block content
  .top-page
    .graph-container
    #top-page-divider
    #info-panels
      #graph-info-space
      #keywords.graph-info
        #graph-word-cloud
          <img src="res/WordCloud.PNG" style="width: 400px"/>
          

  #score-description
    span.scoredesc <i /><br /><b>Scores Above Zero are Better Sentiment Than Those Below Zero</i></b>
  
  
  #candidate-list-container
    #sanders.democratic.candidate
      <img class="candidate-pic" src="/res/sanders.png">
      span.candname <br /><b>Bernie Sanders</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c1(style="visibility: hidden;") 123
      
    #clinton.democratic.candidate
      <img class="candidate-pic" src="/res/clinton.png">
      span.candname <br /><b>Hillary Clinton</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c2(style="visibility: hidden;") 123
      
    #trump.republican.candidate
      <img class="candidate-pic" src="/res/trump.png">
      span.candname <br /><b>Donald Trump</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c3(style="visibility: hidden;") 123
      
    #rubio.republican.candidate
      <img class="candidate-pic" src="/res/rubio.png">
      span.candname <br /><b>Mark Rubio</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c4(style="visibility: hidden;") 123
      
    #cruz.republican.candidate
      <img class="candidate-pic" src="/res/cruz.png">
      span.candname <br /><b>Ted Cruz</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c5(style="visibility: hidden;") 123
      
    #kasich.republican.candidate
      <img class="candidate-pic" src="/res/kasich.png">
      span.candname <br /><b>John Kasich</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c6(style="visibility: hidden;") 123
      
    #carson.republican.candidate
      <img class="candidate-pic" src="/res/carson.png">
      span.candname <br /><b>Ben Carson</b>
      
      span.candscoredesc <br /><b>Score</b><br/>
      span.candscore.c7(style="visibility: hidden;") 123
      
    

block scripts
  script(src='/js/graph.js')