a {
  color: #00B7FF;
}

html {
    //font-family: 400 1em/1.4 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    text-rendering: optimizeLegibility;
    padding: 0px 50px 0px 50px;
}

.top-page {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
}

.graph-container {
    flex: 3;
    color: red;
    margin: 5px;
    align-self: center;
}

.graph-info {
    color: black;
}

#info-panels {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: bisque;
    background-color: aliceblue;
}