body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top-page {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.graph-container {
    flex-grow: 3;
    color: red;
}

.graph-info {
    flex-grow: 1;
    color: black;
}

#info-panels {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: bisque;
}